.result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #d93250;
  color: black;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
}

.mostPopularMovie {
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 20px;
}
