.header {
  background-color: blueviolet;
  margin: 0;
}

.header h1 {
  margin: 0;
  padding: 50px;
  text-align: center;
  background-color: #d93250;
  color: #030f26;
  font-family: "Berkshire Swash", cursive;
}

.header p {
  margin: 0;
}
