.movieHeader {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px 20px;
  font-family: "Raleway", sans-serif;

  & img {
    width: 100%;
    margin: 40px 20px;
    padding: 0px 20px;
    max-width: 500px;
  }

  & .movieDescription {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    margin: 40px 20px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  & ul {
    list-style: none;
  }
}

@media screen and (min-width: 1280px) {
  .movieHeader {
    flex-direction: row;
  }
}
